* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  margin-top: 20px;
  margin-bottom: 40px;
  margin-right: 20px;
  margin-left: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  display: flex;
  gap: 2%
  margin-top: 20px;
  margin-bottom: 40px;
  margin-right: 20px;
  margin-left: 20px;
}


.category-card,
.meal-card {
  width: 100%;
  margin-bottom: 15px;
  box-sizing: border-box;
}

h1{
  text-align: center;
}